/* @import 'tailwindcss'; */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 220 20% 97%;
    --foreground: 224 71.4% 4.1%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --primary: 200 95% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 182 80% 40%;
    --secondary-foreground: 210 20% 98%;
    --accent: 215 90% 55%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 210 20% 98%;
    --ring: 224 71.4% 4.1%;
    --radius: 1rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 255 0% 20%;
    --foreground: 255 10% 98%;
    --muted: 255 0% 30%;
    --muted-foreground: 255 10% 98%;
    --popover: 255 0% 5%;
    --popover-foreground: 255 10% 98%;
    --card: 255 0% 10%;
    --card-foreground: 255 10% 98%;
    --border: 255 0% 30%;
    --input: 255 0% 30%;
    --primary: 200 95% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 182 80% 40%;
    --secondary-foreground: 210 20% 98%;
    --accent: 250 95% 60%;
    --accent-foreground: 255 10% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 255 10% 98%;
    --ring: 216 12.2% 83.9%;
    --radius: 1rem;
    --sidebar-background: 255 0% 1%;
    --sidebar-foreground: 255 10% 98%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 255 0% 15.9%;
    --sidebar-accent-foreground: 255 10% 98%;
    --sidebar-border: 255 0% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}
